$bag-light-head-1 :white;
$bag-light-head-2 : #2C7EF8;
$font-color-head-1 : #666666;
$font-color-head-2 : #141414;
$font-color-head-3 : #2C7EF8;
$font-color-head-4 : #FFFFFF;
$border-color-head1 : #E3E3E3;
$border-color-head2 : #EBEDEF;
$dive-hr-color-head : #EBEDEF;
$hover-head-color1 : #2C7EF8;








$bag-light-main-1 : #2C7EF8;
$bag-light-main-2 : #EBF3FE;
$bag-light-main-3 : #FFFFFF;
$bag-light-main-4 : #F5FBFF;
$font-color-main-1 : #FFFFFF;
$font-color-main-2 : #2C7EF8;
$font-color-main-3 : #2C7EF8;
$font-color-main-4 : #444749;
$font-color-main-5 : #191C1E;
$border-color-main1 : #F5F6F8;