$bag-light-head-1 :white;
$bag-light-head-2 : #2C7EF8;
$font-color-head-1 : #666666;
$font-color-head-2 : #141414;
$font-color-head-3 : #2C7EF8;
$font-color-head-4 : #FFFFFF;
$border-color-head1 : #E3E3E3;
$border-color-head2 : #EBEDEF;
$dive-hr-color-head : #EBEDEF;
$hover-head-color1 : #2C7EF8;