@import "_mixin.scss";
@import "_variable.scss";

@include respond-to(2000px){
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    };
    
    body{
        direction: rtl;
    }
    
    .span-div{
        width: 100%;
    }





     //header ................




    header{
        width: 100%;
        padding: 1.5rem 6.5rem;
    }
    
    
    .head{
        background-color: $bag-light-head-1;
        width: 100%;
        @include display(space-between,center,row);

        //left head .............

        .head-left{
            @include display(space-between,center,row);
            position: relative;
            gap: 1rem;
            .enter_program{
                padding: .8rem 2rem;
                color: $font-color-head-4;
                font-size: 16px;
                font-weight: 600;
                background-color: $bag-light-head-2;
                border-radius: 6px;
                @include display(center,center,row);
                &:hover{
                    cursor: pointer;
                }
            }

            .them{
                width: 2.6rem;
                height: 2.6rem;
                border: 1px solid $border-color-head1;
                border-radius: 3px;
                background-image: url('../images/light-dark.svg');
                background-repeat: no-repeat;
                background-size: 1.5rem 1.5rem;
                background-position: center center;
                transition: all .3s ease;
                &:hover{
                    cursor: pointer;
                    filter: brightness(.1);
                }
            }

            input[type=checkbox]{
                display: none;

                &:checked + .them-item{
                    display: flex;
                }
            }

            .them-item{
                @include display(space-between,flex-start,column){
                    display: none;
                };
                background-color: white;
                width: 100%;
                padding: 1rem 1.5rem;
                box-shadow: 0px 12px 24px -6px #1414190F;
                border: 1px solid $border-color-head2;
                border-radius: 8px;
                position: absolute;
                left: 50%;
                bottom: 0;
                transform: translate(-50%,106%);

                input[type=radio]{
                    display: none;
                }
                
                
                input[type=radio] + label{
                    width: 100%;
                    padding: .8rem 1.8rem;
                    position: relative;
                }


                label{
                    &:hover{
                        cursor: pointer;
                    };
                }


                input[type=radio]:checked + label::after{
                    content:"";
                    position: absolute;
                    left: 5px;
                    top: 50%;
                    transform: translate(0%,-50%);
                    width: 22px;
                    height: 22px;
                    background-image: url('../images/tick-outline.svg');
                    background-repeat: no-repeat;
                    background-size: 17px 17px;
                }



                input[type=radio] + .system-them::before{
                    background-image: url('../images/light-dark.svg');
                }

                input[type=radio] + .light-them::before{
                    background-image: url('../images/light-outline.svg');
                }

                input[type=radio] + .dark-them::before{
                    background-image: url('../images/dark-outline.svg');
                }


                input[type=radio] + label::before{
                    content:"";
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translate(0%,-50%);
                    width: 22px;
                    height: 22px;
                    background-repeat: no-repeat;
                    background-size: 22px 22px;
                }

                .hr-div{
                    width: 100%;
                    height: 1px;
                    background-color: $dive-hr-color-head; 
                }
            }
        }


        //right-head ............


        .head-right{
            @include display(space-between,center,row);
            gap : 4.5rem;
            
            a{
                color: $font-color-head-1;
                text-decoration: none;
                transition: all .3s ease;
                font-size: 16px;
                font-weight: 600;
                &:hover{
                    color: $hover-head-color1;
                }
                &:nth-of-type(1){
                    color: $font-color-head-3;
                }
            }

            h2{
                color: $font-color-head-2;
                font-size: 20px;
                font-weight: 600;

            }
        }
    }







    //main ...........



    //main1-1 ...............

    main{
        padding: 0 10rem ;
        background: linear-gradient(180deg, #EBF3FF -7.33%, #FFFFFF 76.21%);
    }


    .main-1{
        @include display(space-between,center,column);
        padding: 6rem 8rem 3rem 8rem;
        gap: 1.5rem;
        h3:nth-of-type(1){
            font-size: 46px;
            font-weight: 400;
        }

        h3:nth-of-type(2){
            font-size: 64px;
            font-weight: 900;
        }
         
        .vectorr{
            position: relative;
            top: -1rem;
            padding-bottom: .5rem;
            width: 13rem;
            height: auto;
        }


        p{
            text-align: center;
            width: 80%;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
        }

        .main-1-ea{
            @include display(space-between,center,row);
            gap: 1rem;
            padding-top: .5rem;

            .main-1-enter{
                width: 10rem;
                height: 3rem;
                @include display(center,center,row);
                background-color: $bag-light-main-1;
                border-radius: 8px;
                color: $font-color-main-1;
                font-weight: 600;
                font-size: 16px;
            }

            .main-1-aboutus{
                width: 10rem;
                height: 3rem;
                @include display(center,center,row);
                background-color: $bag-light-main-2;
                color: $font-color-main-2;
                border-radius: 8px;
                font-weight: 600;
                font-size: 16px;
            }
        }
    }



    //main1-2 ..............

    .main-1 + img{
        width: 100%;
        height: auto;
    }






    //main1-3 ............


    .property{      
        @include display(space-between,center,column);
        width: 100%;
        gap: 1.5rem;
        padding-top: 5rem;
        padding-bottom: 7rem;

        .property-def{
            @include display(space-between,center,column);
            gap: 1.5rem;
            width: 50%;
            h3{
                font-weight: 600;
                font-size: 40px;
                text-align: center;
            }

            p{
                width: 80%;
                font-weight: 600;
                font-size: 18px;
                text-align: center;
                line-height: 30px;
            }
        }


        .property-list{
            width: 100%;
            @include display(space-between,center,row);
            gap: 1.5rem;
            padding-top: 1.2rem;


            & > div{
                @include display(space-between,center,column);
                flex-grow: 1;
                padding: 2.4rem 1rem;
                border-radius: 24px;
                border: 1px solid $border-color-main1;
                background-color: $bag-light-main-3;
                box-shadow: 0px 4px 63px 0px #00000008;
                gap: 1.3rem;

                &:hover{
                    cursor: pointer;
                }


                 p{
                    width: 80%;
                    text-align: center;
                    font-weight:400 ;
                    font-size: 16px;
                    line-height: 26px;
                 }

                 h4{
                    text-align: center;
                    font-weight:700 ;
                    font-size: 20px;
                 }
        


                 div{
                   width: 46px;
                   height: 46px;
                   border-radius: 50%;
                   background-color: $bag-light-main-4;
                   background-repeat: no-repeat;
                    background-size: 23px 23px;
                    background-position: center center; 
                 }

                 .property-list-1{
                    background-image: url('../images/brush.svg');
                 }

                 .property-list-2{
                    background-image: url('../images/category.svg');
                 }

                 .property-list-3{
                    background-image: url('../images/location-tick.svg');
                 }

                 .property-list-4{
                    background-image: url('../images/user-tag.svg');
                 }

            }

            
        }


    }




    //main1-4 ................



    .download-app{
        width: 100%;
        // height: 427px;
        @include display(space-between,center,row);
        gap: 4rem;


        .download-app-def{  
            @include display(center,flex-start,column);
            width: 40%;
            height: 100%;
            gap: 2.5rem;
            
            a{
                text-decoration: none;
                position: relative;
                font-weight: 700;
                font-size: 18px;
                color: $font-color-main-3;
                &::after{
                    content: "";
                    width: 20px;
                    height: 20px;
                    background-image: url('../images/arrow-right.svg');
                    background-repeat: no-repeat;
                    background-size: 20px 20px;
                    position: absolute;
                    left: -30px;
                    top: 50%;
                    transform: translate(0%,-50%);
                }
            }

            p{
                font-size: 18px;
                font-weight: 400;
                color: $font-color-main-4;
                line-height: 30px;
                &:nth-of-type(1){
                    position: relative;
                    top: 35px;
                }
            }

            h4{
                font-size: 40px;
                font-weight: 700;
                color: $font-color-main-5;
            }




            
        }




        .download-app-pic{
            width: 60%;
            @include display(center,center,row);
            position: relative;
            
           img{
            &:nth-of-type(1){
                width: 100%;
                height: 100%;
                background: #E6E7E8;
                border-radius: 24px;
                box-shadow: 0px 0px 11.12px 0px #0000000F;
            }

            &:nth-of-type(2){
                width: 35%;
                height: 100%;
                background:#E6E7E8;
                border-radius: 25px;
                border: 10px solid #E6E7E8;
                box-shadow: 0px 0px 11.12px 0px #0000000F;  
                position: absolute;
                top: 40px;
                right: 65px;
            }
           }

        }




    }




    //main1-5 .................






    .review{
        @include display(space-between,center,column);
        width: 100%;
        gap: 1rem;
        margin-top: 12rem;

        .review-section-1{
            @include display(space-between,center,column);
            width: 38%;
            h3{
                font-size: 40px;
                font-weight: 700;
                text-align: center;
            }

            p{
                font-size: 18px;
                font-weight: 400px;
                text-align: center;
                line-height: 30px;
            }
        }



        .review-section-2{
            width: 100%;
            @include display(space-between,center,row){
                flex-wrap: wrap;
            };
            column-gap: 1.5rem;


            .review-section-2-span{
                @include display(space-between,center,column){
                    flex-grow: 1;
                };
                gap: 1.3rem;
                width: 30%;
                padding: 1.5rem 1.8rem;
                background-color: $bag-light-main-5;
                border: 1px solid $border-color-main2;
                border-radius: 16px;
                box-shadow: 0px 4px 63px 0px #0000000A;


                & > div{
                        
                    @include display(flex-start,center,row);
                    gap: 0.5rem;
                    width: 100%;

                    .review-section-2-span-image{
                        width: 50px;
                        height: 50px;
                    }

                    .review-section-2-span-def{
                        @include display(space-between,flex-start,column);
                        gap: 0.35rem;


                        h5{
                            font-weight: 700;
                            font-size: 15px;
                            color: $font-color-main-7;
                        }

                        p{
                            font-size: 14px ;
                            font-weight: 400px;
                            color: $font-color-main-8;
                        }
                    }

                    
                }

                p{
                    font-size: 16px;
                    font-weight: 300;
                    line-height: 24px;
                    text-align: right;
                    color: $font-color-main-6;
                }


            }
        }



        // .review-section-3{
        //     div{
        //         background-color: ;
        //     }
        // }
    }





    
    
}