@media (max-width: 2000px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    direction: rtl;
  }
  .span-div {
    width: 100%;
  }
  header {
    width: 100%;
    padding: 1.5rem 6.5rem;
  }
  .head {
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  .head .head-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    position: relative;
    gap: 1rem;
  }
  .head .head-left .enter_program {
    padding: 0.8rem 2rem;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    background-color: #2C7EF8;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .head .head-left .enter_program:hover {
    cursor: pointer;
  }
  .head .head-left .them {
    width: 2.6rem;
    height: 2.6rem;
    border: 1px solid #E3E3E3;
    border-radius: 3px;
    background-image: url("../images/light-dark.svg");
    background-repeat: no-repeat;
    background-size: 1.5rem 1.5rem;
    background-position: center center;
    transition: all 0.3s ease;
  }
  .head .head-left .them:hover {
    cursor: pointer;
    filter: brightness(0.1);
  }
  .head .head-left input[type=checkbox] {
    display: none;
  }
  .head .head-left input[type=checkbox]:checked + .them-item {
    display: flex;
  }
  .head .head-left .them-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    display: none;
    background-color: white;
    width: 100%;
    padding: 1rem 1.5rem;
    box-shadow: 0px 12px 24px -6px rgba(20, 20, 25, 0.0588235294);
    border: 1px solid #EBEDEF;
    border-radius: 8px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 106%);
  }
  .head .head-left .them-item input[type=radio] {
    display: none;
  }
  .head .head-left .them-item input[type=radio] + label {
    width: 100%;
    padding: 0.8rem 1.8rem;
    position: relative;
  }
  .head .head-left .them-item label:hover {
    cursor: pointer;
  }
  .head .head-left .them-item input[type=radio]:checked + label::after {
    content: "";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translate(0%, -50%);
    width: 22px;
    height: 22px;
    background-image: url("../images/tick-outline.svg");
    background-repeat: no-repeat;
    background-size: 17px 17px;
  }
  .head .head-left .them-item input[type=radio] + .system-them::before {
    background-image: url("../images/light-dark.svg");
  }
  .head .head-left .them-item input[type=radio] + .light-them::before {
    background-image: url("../images/light-outline.svg");
  }
  .head .head-left .them-item input[type=radio] + .dark-them::before {
    background-image: url("../images/dark-outline.svg");
  }
  .head .head-left .them-item input[type=radio] + label::before {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0%, -50%);
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    background-size: 22px 22px;
  }
  .head .head-left .them-item .hr-div {
    width: 100%;
    height: 1px;
    background-color: #EBEDEF;
  }
  .head .head-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 4.5rem;
  }
  .head .head-right a {
    color: #666666;
    text-decoration: none;
    transition: all 0.3s ease;
    font-size: 16px;
    font-weight: 600;
  }
  .head .head-right a:hover {
    color: #2C7EF8;
  }
  .head .head-right a:nth-of-type(1) {
    color: #2C7EF8;
  }
  .head .head-right h2 {
    color: #141414;
    font-size: 20px;
    font-weight: 600;
  }
  main {
    padding: 0 10rem;
    background: linear-gradient(180deg, #EBF3FF -7.33%, #FFFFFF 76.21%);
  }
  .main-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 6rem 8rem 3rem 8rem;
    gap: 1.5rem;
  }
  .main-1 h3:nth-of-type(1) {
    font-size: 46px;
    font-weight: 400;
  }
  .main-1 h3:nth-of-type(2) {
    font-size: 64px;
    font-weight: 900;
  }
  .main-1 .vectorr {
    position: relative;
    top: -1rem;
    padding-bottom: 0.5rem;
    width: 13rem;
    height: auto;
  }
  .main-1 p {
    text-align: center;
    width: 80%;
    font-weight: 400;
    font-size: 20px;
  }
  .main-1 .main-1-ea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    padding-top: 0.5rem;
  }
  .main-1 .main-1-ea .main-1-enter {
    width: 10rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #2C7EF8;
    border-radius: 8px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
  }
  .main-1 .main-1-ea .main-1-aboutus {
    width: 10rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #EBF3FE;
    color: #2C7EF8;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
  }
  .main-1 + img {
    width: 100%;
    height: auto;
  }
  .property {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 1.5rem;
  }
  .property .property-def {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    width: 50%;
  }
  .property .property-def h3 {
    font-weight: 600;
    font-size: 40px;
  }
  .property .property-def p {
    width: 80%;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
  }
  .property .property-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
}/*# sourceMappingURL=style-page1.css.map */