@font-face {
  font-family: "Yekan";
  src: url("./fonts/B_Yekan/Yekan.ttf") format("truetype");
}
@media (max-width: 4000px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    direction: rtl;
    font-family: "Yekan";
  }
  .span-div {
    width: 100%;
  }
  header {
    width: 100%;
    padding: 1.5rem 6.5rem;
  }
}
@media (max-width: 4000px) and (max-width: 1200px) {
  header {
    padding: 1.5rem 5rem;
  }
}
@media (max-width: 4000px) and (max-width: 1100px) {
  header {
    padding: 1.5rem 4rem;
  }
}
@media (max-width: 4000px) and (max-width: 970px) {
  header {
    padding: 1.5rem 2.5rem;
  }
}
@media (max-width: 4000px) and (max-width: 750px) {
  header {
    padding: 1.5rem 1.5rem;
  }
}
@media (max-width: 4000px) {
  .head {
    background-color: white;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
}
@media (max-width: 4000px) and (max-width: 750px) {
  .head {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
}
@media (max-width: 4000px) {
  .head img {
    display: none;
  }
}
@media (max-width: 4000px) and (max-width: 750px) {
  .head img {
    display: flex;
    position: absolute;
    right: 0;
  }
}
@media (max-width: 4000px) {
  .head .head-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    position: relative;
    gap: 1rem;
  }
}
@media (max-width: 4000px) and (max-width: 750px) {
  .head .head-left {
    display: none;
  }
}
@media (max-width: 4000px) {
  .head .head-left .enter_program {
    padding: 0.8rem 2rem;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    background-color: #2C7EF8;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .head .head-left .enter_program:hover {
    cursor: pointer;
  }
}
@media (max-width: 4000px) and (max-width: 970px) {
  .head .head-left .enter_program {
    padding: 0.7rem 1.5rem;
  }
}
@media (max-width: 4000px) {
  .head .head-left .them {
    width: 2.9rem;
    height: 2.9rem;
    border: 1px solid #E3E3E3;
    border-radius: 3px;
    background-image: url("../images/light-dark.svg");
    background-repeat: no-repeat;
    background-size: 1.5rem 1.5rem;
    background-position: center center;
    transition: all 0.3s ease;
  }
  .head .head-left .them:hover {
    cursor: pointer;
    filter: brightness(0.1);
  }
}
@media (max-width: 4000px) and (max-width: 970px) {
  .head .head-left .them {
    width: 2.7rem;
    height: 2.7rem;
    background-size: 1.4rem 1.4rem;
  }
}
@media (max-width: 4000px) {
  .head .head-left input[type=checkbox] {
    display: none;
  }
  .head .head-left input[type=checkbox]:checked + .them-item {
    display: flex;
  }
  .head .head-left .them-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    display: none;
    z-index: 51;
    background-color: white;
    width: 100%;
    padding: 1rem 1.5rem;
    box-shadow: 0px 12px 24px -6px rgba(20, 20, 25, 0.0588235294);
    border: 1px solid #EBEDEF;
    border-radius: 8px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 106%);
  }
  .head .head-left .them-item input[type=radio] {
    display: none;
  }
  .head .head-left .them-item input[type=radio] + label {
    width: 100%;
    padding: 0.8rem 1.8rem;
    position: relative;
  }
  .head .head-left .them-item label:hover {
    cursor: pointer;
  }
  .head .head-left .them-item input[type=radio]:checked + label::after {
    content: "";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translate(0%, -50%);
    width: 22px;
    height: 22px;
    background-image: url("../images/tick-outline.svg");
    background-repeat: no-repeat;
    background-size: 17px 17px;
  }
  .head .head-left .them-item input[type=radio] + .system-them::before {
    background-image: url("../images/light-dark.svg");
  }
  .head .head-left .them-item input[type=radio] + .light-them::before {
    background-image: url("../images/light-outline.svg");
  }
  .head .head-left .them-item input[type=radio] + .dark-them::before {
    background-image: url("../images/dark-outline.svg");
  }
  .head .head-left .them-item input[type=radio] + label::before {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0%, -50%);
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    background-size: 22px 22px;
  }
  .head .head-left .them-item .hr-div {
    width: 100%;
    height: 1px;
    background-color: #EBEDEF;
  }
  .head .head-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 4.5rem;
  }
}
@media (max-width: 4000px) and (max-width: 1100px) {
  .head .head-right {
    gap: 3rem;
  }
}
@media (max-width: 4000px) and (max-width: 970px) {
  .head .head-right {
    gap: 2rem;
  }
}
@media (max-width: 4000px) {
  .head .head-right a {
    color: #666666;
    text-decoration: none;
    transition: all 0.3s ease;
    font-size: 16px;
    font-weight: 600;
  }
  .head .head-right a:hover {
    color: #2C7EF8;
  }
  .head .head-right a:nth-of-type(1) {
    color: #2C7EF8;
  }
}
@media (max-width: 4000px) and (max-width: 750px) {
  .head .head-right a {
    display: none;
  }
}
@media (max-width: 4000px) {
  .head .head-right h2 {
    color: #141414;
    font-size: 20px;
    font-weight: 600;
  }
}
@media (max-width: 4000px) and (max-width: 750px) {
  .head .head-right h2 {
    position: relative;
    left: 12px;
    font-size: 24px;
  }
}
@media (max-width: 4000px) {
  main {
    padding: 0 10rem;
    background: linear-gradient(180deg, #EBF3FF -7.33%, #FFFFFF 76.21%);
    position: relative;
    z-index: 8;
    overflow: hidden;
  }
}
@media (max-width: 4000px) and (max-width: 1200px) {
  main {
    padding: 0 7.7rem;
  }
}
@media (max-width: 4000px) and (max-width: 1120px) {
  main {
    padding: 0 5rem;
  }
}
@media (max-width: 4000px) and (max-width: 1034px) {
  main {
    padding: 0 4.5rem;
  }
}
@media (max-width: 4000px) and (max-width: 970px) {
  main {
    padding: 0 4rem;
  }
}
@media (max-width: 4000px) and (max-width: 850px) {
  main {
    padding: 0 2rem;
  }
}
@media (max-width: 4000px) and (max-width: 750px) {
  main {
    padding: 0 1rem;
  }
}
@media (max-width: 4000px) and (max-width: 550px) {
  main {
    padding: 0 0.5rem;
  }
}
@media (max-width: 4000px) {
  main .circule-1 {
    width: 452px;
    height: 452px;
    border-radius: 50%;
    position: absolute;
    left: 4vw;
    top: 50px;
    background: linear-gradient(0deg, rgba(239, 235, 255, 0) 29.95%, #E0EDFF 78.88%);
    box-shadow: -3px 4px 16px 0px rgba(0, 0, 0, 0);
    z-index: -20;
  }
}
@media (max-width: 4000px) and (max-width: 1200px) {
  main .circule-1 {
    width: 400px;
    height: 400px;
    left: 1vw;
  }
}
@media (max-width: 4000px) and (max-width: 1000px) {
  main .circule-1 {
    width: 350px;
    height: 350px;
    left: -2vw;
  }
}
@media (max-width: 4000px) and (max-width: 850px) {
  main .circule-1 {
    width: 350px;
    height: 350px;
    left: -12vw;
  }
}
@media (max-width: 4000px) and (max-width: 700px) {
  main .circule-1 {
    width: 300px;
    height: 300px;
    left: -22vw;
  }
}
@media (max-width: 4000px) and (max-width: 500px) {
  main .circule-1 {
    width: 250px;
    height: 250px;
    left: -30vw;
  }
}
@media (max-width: 4000px) and (max-width: 400px) {
  main .circule-1 {
    width: 228px;
    height: 228px;
    left: -40vw;
  }
}
@media (max-width: 4000px) {
  main .circule-2 {
    width: 452px;
    height: 452px;
    border-radius: 50%;
    position: absolute;
    right: -5vw;
    top: 160px;
    background: linear-gradient(0deg, rgba(239, 235, 255, 0) 29.95%, #E0EDFF 78.88%);
    box-shadow: -3px 4px 16px 0px rgba(0, 0, 0, 0);
    z-index: -20;
  }
}
@media (max-width: 4000px) and (max-width: 1200px) {
  main .circule-2 {
    width: 400px;
    height: 400px;
    right: -7vw;
  }
}
@media (max-width: 4000px) and (max-width: 1000px) {
  main .circule-2 {
    width: 350px;
    height: 350px;
    right: -12vw;
  }
}
@media (max-width: 4000px) and (max-width: 850px) {
  main .circule-2 {
    width: 350px;
    height: 350px;
    right: -18vw;
  }
}
@media (max-width: 4000px) and (max-width: 700px) {
  main .circule-2 {
    width: 300px;
    height: 300px;
    right: -30vw;
  }
}
@media (max-width: 4000px) and (max-width: 500px) {
  main .circule-2 {
    width: 250px;
    height: 250px;
    right: -36vw;
  }
}
@media (max-width: 4000px) and (max-width: 400px) {
  main .circule-2 {
    width: 228px;
    height: 228px;
    right: -46vw;
  }
}
@media (max-width: 4000px) {
  main .circule-3 {
    width: 452px;
    height: 452px;
    border-radius: 50%;
    position: absolute;
    left: -5vw;
    top: 1660px;
    background: linear-gradient(0deg, rgba(239, 235, 255, 0) 29.95%, #E0EDFF 78.88%);
    box-shadow: -3px 4px 16px 0px rgba(0, 0, 0, 0);
    z-index: -20;
  }
}
@media (max-width: 4000px) and (max-width: 1200px) {
  main .circule-3 {
    width: 400px;
    height: 400px;
    top: 1560px;
    left: -7vw;
  }
}
@media (max-width: 4000px) and (max-width: 1000px) {
  main .circule-3 {
    width: 350px;
    height: 350px;
    top: 1500px;
    left: -12vw;
  }
}
@media (max-width: 4000px) and (max-width: 850px) {
  main .circule-3 {
    width: 350px;
    height: 350px;
    left: -18vw;
  }
}
@media (max-width: 4000px) and (max-width: 700px) {
  main .circule-3 {
    width: 300px;
    height: 300px;
    left: -25vw;
  }
}
@media (max-width: 4000px) and (max-width: 500px) {
  main .circule-3 {
    width: 250px;
    height: 250px;
    top: 1500px;
    left: -20vw;
  }
}
@media (max-width: 4000px) and (max-width: 400px) {
  main .circule-3 {
    width: 228px;
    height: 228px;
    top: 1550px;
    left: -30vw;
  }
}
@media (max-width: 4000px) {
  main .circule-4 {
    width: 452px;
    height: 452px;
    border-radius: 50%;
    position: absolute;
    right: -18vw;
    top: 1230px;
    background: linear-gradient(0deg, rgba(239, 235, 255, 0) 29.95%, #E0EDFF 78.88%);
    box-shadow: -3px 4px 16px 0px rgba(0, 0, 0, 0);
    z-index: -20;
  }
}
@media (max-width: 4000px) and (max-width: 1200px) {
  main .circule-4 {
    width: 400px;
    height: 400px;
    top: 1230px;
    right: -25vw;
  }
}
@media (max-width: 4000px) and (max-width: 1000px) {
  main .circule-4 {
    width: 350px;
    height: 350px;
    top: 1200px;
    right: -20vw;
  }
}
@media (max-width: 4000px) and (max-width: 850px) {
  main .circule-4 {
    width: 350px;
    height: 350px;
    right: -24vw;
  }
}
@media (max-width: 4000px) and (max-width: 700px) {
  main .circule-4 {
    width: 300px;
    height: 300px;
    right: -25vw;
  }
}
@media (max-width: 4000px) and (max-width: 500px) {
  main .circule-4 {
    width: 250px;
    height: 250px;
    top: 1200px;
    right: -26vw;
  }
}
@media (max-width: 4000px) and (max-width: 400px) {
  main .circule-4 {
    width: 228px;
    height: 228px;
    top: 1200px;
    right: -24vw;
  }
}
@media (max-width: 4000px) {
  main .circule-5 {
    width: 452px;
    height: 452px;
    border-radius: 50%;
    position: absolute;
    left: -18vw;
    top: 2500px;
    background: linear-gradient(0deg, rgba(239, 235, 255, 0) 29.95%, #E0EDFF 78.88%);
    box-shadow: -3px 4px 16px 0px rgba(0, 0, 0, 0);
    z-index: -20;
  }
}
@media (max-width: 4000px) and (max-width: 1200px) {
  main .circule-5 {
    width: 400px;
    height: 400px;
    top: 2500px;
    left: -15vw;
  }
}
@media (max-width: 4000px) and (max-width: 1000px) {
  main .circule-5 {
    width: 350px;
    height: 350px;
    top: 2500px;
    left: -15vw;
  }
}
@media (max-width: 4000px) and (max-width: 900px) {
  main .circule-5 {
    width: 350px;
    height: 350px;
    left: -24vw;
    top: 2700px;
  }
}
@media (max-width: 4000px) and (max-width: 750px) {
  main .circule-5 {
    display: none;
  }
}
@media (max-width: 4000px) {
  main .circule-6 {
    width: 452px;
    height: 452px;
    border-radius: 50%;
    position: absolute;
    right: -18vw;
    top: 3000px;
    background: linear-gradient(0deg, rgba(239, 235, 255, 0) 29.95%, #E0EDFF 78.88%);
    box-shadow: -3px 4px 16px 0px rgba(0, 0, 0, 0);
    z-index: -20;
  }
}
@media (max-width: 4000px) and (max-width: 1200px) {
  main .circule-6 {
    width: 400px;
    height: 400px;
    top: 3000px;
    right: -25vw;
  }
}
@media (max-width: 4000px) and (max-width: 1000px) {
  main .circule-6 {
    width: 350px;
    height: 350px;
    top: 3000px;
    right: -20vw;
  }
}
@media (max-width: 4000px) and (max-width: 850px) {
  main .circule-6 {
    width: 350px;
    height: 350px;
    right: -24vw;
    top: 3200px;
  }
}
@media (max-width: 4000px) and (max-width: 750px) {
  main .circule-6 {
    width: 300px;
    height: 300px;
    right: -25vw;
    display: none;
  }
}
@media (max-width: 4000px) {
  .main-1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 6rem 8rem 3rem 8rem;
    gap: 1.5rem;
  }
}
@media (max-width: 4000px) and (max-width: 1200px) {
  .main-1 {
    padding: 6rem 6.5rem 3rem 6.5rem;
  }
}
@media (max-width: 4000px) and (max-width: 1100px) {
  .main-1 {
    padding: 6rem 6rem 3rem 6rem;
  }
}
@media (max-width: 4000px) and (max-width: 970px) {
  .main-1 {
    padding: 6rem 4rem 3rem 4rem;
  }
}
@media (max-width: 4000px) and (max-width: 750px) {
  .main-1 {
    padding: 6rem 2.5rem 3rem 2.5rem;
  }
}
@media (max-width: 4000px) and (max-width: 550px) {
  .main-1 {
    padding: 6rem 1rem 3rem 1rem;
  }
}
@media (max-width: 4000px) and (max-width: 390px) {
  .main-1 {
    padding: 6rem 0.3rem 3rem 0.3rem;
  }
}
@media (max-width: 4000px) {
  .main-1 h3:nth-of-type(1) {
    font-size: 46px;
    font-weight: 400;
  }
}
@media (max-width: 4000px) and (max-width: 970px) {
  .main-1 h3:nth-of-type(1) {
    font-size: 38px;
  }
}
@media (max-width: 4000px) and (max-width: 750px) {
  .main-1 h3:nth-of-type(1) {
    font-size: 34px;
  }
}
@media (max-width: 4000px) and (max-width: 550px) {
  .main-1 h3:nth-of-type(1) {
    font-size: 28px;
  }
}
@media (max-width: 4000px) {
  .main-1 h3:nth-of-type(2) {
    font-size: 64px;
    font-weight: 900;
  }
}
@media (max-width: 4000px) and (max-width: 970px) {
  .main-1 h3:nth-of-type(2) {
    font-size: 50px;
  }
}
@media (max-width: 4000px) and (max-width: 750px) {
  .main-1 h3:nth-of-type(2) {
    font-size: 44px;
  }
}
@media (max-width: 4000px) and (max-width: 550px) {
  .main-1 h3:nth-of-type(2) {
    font-size: 36px;
  }
}
@media (max-width: 4000px) and (max-width: 351px) {
  .main-1 h3:nth-of-type(2) {
    font-size: 32px;
  }
}
@media (max-width: 4000px) {
  .main-1 .vectorr {
    position: relative;
    top: -1rem;
    padding-bottom: 0.5rem;
    width: 13rem;
    height: auto;
  }
}
@media (max-width: 4000px) and (max-width: 970px) {
  .main-1 .vectorr {
    width: 10rem;
  }
}
@media (max-width: 4000px) and (max-width: 750px) {
  .main-1 .vectorr {
    width: 9rem;
  }
}
@media (max-width: 4000px) and (max-width: 550px) {
  .main-1 .vectorr {
    width: 7.5rem;
  }
}
@media (max-width: 4000px) {
  .main-1 p {
    text-align: center;
    width: 80%;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
  }
}
@media (max-width: 4000px) and (max-width: 970px) {
  .main-1 p {
    width: 90%;
  }
}
@media (max-width: 4000px) {
  .main-1 .main-1-ea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    padding-top: 0.5rem;
  }
  .main-1 .main-1-ea .main-1-enter {
    width: 10rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #2C7EF8;
    border-radius: 8px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
  }
}
@media (max-width: 4000px) and (max-width: 970px) {
  .main-1 .main-1-ea .main-1-enter {
    width: 9rem;
  }
}
@media (max-width: 4000px) {
  .main-1 .main-1-ea .main-1-aboutus {
    width: 10rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #EBF3FE;
    color: #2C7EF8;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
  }
}
@media (max-width: 4000px) and (max-width: 970px) {
  .main-1 .main-1-ea .main-1-aboutus {
    width: 9rem;
  }
}
@media (max-width: 4000px) {
  .main-1 + img {
    width: 100%;
    height: auto;
  }
  .property {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 1.5rem;
    padding-top: 5rem;
    padding-bottom: 7rem;
  }
  .property .property-def {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    width: 70%;
  }
}
@media (max-width: 4000px) and (max-width: 750px) {
  .property .property-def {
    width: 80%;
  }
}
@media (max-width: 4000px) and (max-width: 550px) {
  .property .property-def {
    width: 90%;
  }
}
@media (max-width: 4000px) and (max-width: 400px) {
  .property .property-def {
    width: 100%;
  }
}
@media (max-width: 4000px) {
  .property .property-def h3 {
    font-weight: 600;
    font-size: 40px;
    text-align: center;
  }
}
@media (max-width: 4000px) and (max-width: 970px) {
  .property .property-def h3 {
    font-size: 35px;
  }
}
@media (max-width: 4000px) and (max-width: 750px) {
  .property .property-def h3 {
    font-size: 30px;
  }
}
@media (max-width: 4000px) and (max-width: 399px) {
  .property .property-def h3 {
    font-size: 27px;
  }
}
@media (max-width: 4000px) {
  .property .property-def p {
    width: 80%;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
  }
}
@media (max-width: 4000px) and (max-width: 970px) {
  .property .property-def p {
    font-size: 17px;
  }
}
@media (max-width: 4000px) and (max-width: 750px) {
  .property .property-def p {
    font-size: 16px;
  }
}
@media (max-width: 4000px) and (max-width: 399px) {
  .property .property-def p {
    font-size: 15px;
  }
}
@media (max-width: 4000px) {
  .property .property-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 1.5rem;
    padding-top: 1.2rem;
  }
}
@media (max-width: 4000px) and (max-width: 900px) {
  .property .property-list {
    flex-wrap: wrap;
    width: 80%;
  }
}
@media (max-width: 4000px) and (max-width: 750px) {
  .property .property-list {
    width: 90%;
  }
}
@media (max-width: 4000px) and (max-width: 550px) {
  .property .property-list {
    width: 100%;
    gap: 0.8rem;
  }
}
@media (max-width: 4000px) {
  .property .property-list > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    padding: 2.4rem 1rem;
    border-radius: 24px;
    border: 1px solid #F5F6F8;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 63px 0px rgba(0, 0, 0, 0.031372549);
    gap: 1.3rem;
  }
}
@media (max-width: 4000px) and (max-width: 1220px) {
  .property .property-list > div {
    padding: 2.2rem 0.8rem;
  }
}
@media (max-width: 4000px) and (max-width: 900px) {
  .property .property-list > div {
    width: 40%;
  }
}
@media (max-width: 4000px) and (max-width: 750px) {
  .property .property-list > div {
    padding: 1.2rem 0.5rem;
    gap: 1rem;
  }
}
@media (max-width: 4000px) {
  .property .property-list > div:hover {
    cursor: pointer;
  }
  .property .property-list > div p {
    width: 80%;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
  }
}
@media (max-width: 4000px) and (max-width: 1033px) {
  .property .property-list > div p {
    font-size: 15px;
  }
}
@media (max-width: 4000px) and (max-width: 900px) {
  .property .property-list > div p {
    font-size: 16px;
  }
}
@media (max-width: 4000px) {
  .property .property-list > div h4 {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
  }
}
@media (max-width: 4000px) and (max-width: 1033px) {
  .property .property-list > div h4 {
    font-size: 17px;
  }
}
@media (max-width: 4000px) and (max-width: 900px) {
  .property .property-list > div h4 {
    font-size: 20px;
  }
}
@media (max-width: 4000px) and (max-width: 411px) {
  .property .property-list > div h4 {
    font-size: 16px;
  }
}
@media (max-width: 4000px) and (max-width: 351px) {
  .property .property-list > div h4 {
    font-size: 14px;
  }
}
@media (max-width: 4000px) {
  .property .property-list > div div {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: #F5FBFF;
    background-repeat: no-repeat;
    background-size: 23px 23px;
    background-position: center center;
  }
  .property .property-list > div .property-list-1 {
    background-image: url("../images/brush.svg");
  }
  .property .property-list > div .property-list-2 {
    background-image: url("../images/category.svg");
  }
  .property .property-list > div .property-list-3 {
    background-image: url("../images/location-tick.svg");
  }
  .property .property-list > div .property-list-4 {
    background-image: url("../images/user-tag.svg");
  }
  .download-app {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 4rem;
  }
}
@media (max-width: 4000px) and (max-width: 750px) {
  .download-app {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
}
@media (max-width: 4000px) {
  .download-app .download-app-def {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 40%;
    height: 100%;
    gap: 2.5rem;
  }
}
@media (max-width: 4000px) and (max-width: 800px) {
  .download-app .download-app-def {
    gap: 2rem;
  }
}
@media (max-width: 4000px) and (max-width: 750px) {
  .download-app .download-app-def {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
  }
}
@media (max-width: 4000px) {
  .download-app .download-app-def a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 0.6rem;
    text-decoration: none;
  }
  .download-app .download-app-def a p {
    font-weight: 700;
    font-size: 18px;
    color: #2C7EF8;
  }
  .download-app .download-app-def a img {
    width: 22px;
    height: 22px;
  }
  .download-app .download-app-def > p {
    font-size: 18px;
    font-weight: 400;
    color: #444749;
    line-height: 30px;
  }
  .download-app .download-app-def > p:nth-of-type(1) {
    position: relative;
    top: 35px;
  }
}
@media (max-width: 4000px) and (max-width: 800px) {
  .download-app .download-app-def > p:nth-of-type(1) {
    top: 20px;
  }
}
@media (max-width: 4000px) and (max-width: 800px) {
  .download-app .download-app-def > p {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (max-width: 4000px) and (max-width: 750px) {
  .download-app .download-app-def > p {
    text-align: center;
  }
}
@media (max-width: 4000px) {
  .download-app .download-app-def h4 {
    font-size: 40px;
    font-weight: 700;
    color: #191C1E;
  }
}
@media (max-width: 4000px) and (max-width: 800px) {
  .download-app .download-app-def h4 {
    font-size: 32px;
    line-height: 24px;
  }
}
@media (max-width: 4000px) {
  .download-app .download-app-def > img {
    display: none;
    width: 210px;
    height: auto;
    background: #E6E7E8;
    border-radius: 25px;
    border: 10px solid #E6E7E8;
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0px 0px 11.12px 0px rgba(0, 0, 0, 0.0588235294);
  }
}
@media (max-width: 4000px) and (max-width: 750px) {
  .download-app .download-app-def > img {
    display: flex;
  }
}
@media (max-width: 4000px) {
  .download-app .download-app-pic {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
  }
  .download-app .download-app-pic img:nth-of-type(1) {
    width: 100%;
    height: 100%;
    background: #E6E7E8;
    border-radius: 24px;
    box-shadow: 0px 0px 11.12px 0px rgba(0, 0, 0, 0.0588235294);
  }
  .download-app .download-app-pic img:nth-of-type(2) {
    width: 35%;
    height: 100%;
    background: #E6E7E8;
    border-radius: 25px;
    border: 10px solid #E6E7E8;
    box-shadow: 0px 0px 11.12px 0px rgba(0, 0, 0, 0.0588235294);
    position: absolute;
    top: 40px;
    right: 65px;
  }
}
@media (max-width: 4000px) and (max-width: 750px) {
  .download-app .download-app-pic {
    display: none;
  }
}
@media (max-width: 4000px) {
  .review {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 2.5rem;
    margin-top: 8.5rem;
  }
  .review .review-section-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 1.4rem;
    width: 38%;
  }
}
@media (max-width: 4000px) and (max-width: 970px) {
  .review .review-section-1 {
    width: 55%;
  }
}
@media (max-width: 4000px) and (max-width: 550px) {
  .review .review-section-1 {
    width: 70%;
  }
}
@media (max-width: 4000px) {
  .review .review-section-1 h3 {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    color: #191C1E;
  }
}
@media (max-width: 4000px) and (max-width: 970px) {
  .review .review-section-1 h3 {
    font-size: 32px;
  }
}
@media (max-width: 4000px) {
  .review .review-section-1 p {
    font-size: 18px;
    font-weight: 400px;
    text-align: center;
    line-height: 30px;
    color: #444749;
  }
  .review .review-section-2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    -moz-column-gap: 1.5rem;
         column-gap: 1.5rem;
    row-gap: 0.5rem;
  }
}
@media (max-width: 4000px) and (max-width: 750px) {
  .review .review-section-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 0rem 0.8rem;
    overflow: hidden;
    flex-wrap: nowrap;
    gap: 8rem;
  }
}
@media (max-width: 4000px) {
  .review .review-section-2 .review-section-2-span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    gap: 1.3rem;
    width: 30%;
    padding: 1.5rem 0;
    background-color: #FFFFFF;
    border: 1px solid #F5F6F8;
    border-radius: 16px;
    box-shadow: 0px 4px 63px 0px rgba(0, 0, 0, 0.0392156863);
  }
}
@media (max-width: 4000px) and (max-width: 900px) {
  .review .review-section-2 .review-section-2-span {
    width: 40%;
  }
}
@media (max-width: 4000px) {
  .review .review-section-2 .review-section-2-span > div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;
    width: 75%;
  }
  .review .review-section-2 .review-section-2-span > div .review-section-2-span-image {
    width: 50px;
    height: 50px;
  }
  .review .review-section-2 .review-section-2-span > div .review-section-2-span-def {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.35rem;
  }
  .review .review-section-2 .review-section-2-span > div .review-section-2-span-def h5 {
    font-weight: 700;
    font-size: 15px;
    color: #141414;
  }
  .review .review-section-2 .review-section-2-span > div .review-section-2-span-def p {
    font-size: 14px;
    font-weight: 400px;
    color: #5C5C5C;
  }
}
@media (max-width: 4000px) and (max-width: 1000px) {
  .review .review-section-2 .review-section-2-span > div {
    width: 80%;
  }
}
@media (max-width: 4000px) and (max-width: 900px) {
  .review .review-section-2 .review-section-2-span > div {
    width: 75%;
  }
}
@media (max-width: 4000px) and (max-width: 750px) {
  .review .review-section-2 .review-section-2-span > div {
    width: 85%;
  }
}
@media (max-width: 4000px) {
  .review .review-section-2 .review-section-2-span > p {
    width: 75%;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: right;
    color: #444749;
  }
}
@media (max-width: 4000px) and (max-width: 1000px) {
  .review .review-section-2 .review-section-2-span > p {
    width: 80%;
  }
}
@media (max-width: 4000px) and (max-width: 900px) {
  .review .review-section-2 .review-section-2-span > p {
    width: 75%;
  }
}
@media (max-width: 4000px) and (max-width: 750px) {
  .review .review-section-2 .review-section-2-span > p {
    width: 85%;
  }
}
@media (max-width: 4000px) {
  .review .review-section-3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
  }
  .review .review-section-3 div {
    background-color: #FFFFFF;
    border: 1px solid #E3E6E8;
    border-radius: 6px;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 24px 24px;
  }
  .review .review-section-3 div:nth-child(1) {
    background-image: url("../images/arrow-left-outline (1).svg");
  }
  .review .review-section-3 div:nth-child(2) {
    background-image: url("../images/arrow-left-outline.svg");
  }
  .review .review-section-3 div:hover {
    cursor: pointer;
  }
  footer {
    padding: 0 10rem;
    margin-top: 8rem;
  }
}
@media (max-width: 4000px) and (max-width: 1200px) {
  footer {
    padding: 0 7.7rem;
  }
}
@media (max-width: 4000px) and (max-width: 1100px) {
  footer {
    padding: 0 6rem;
  }
}
@media (max-width: 4000px) and (max-width: 970px) {
  footer {
    padding: 0 4rem;
  }
}
@media (max-width: 4000px) and (max-width: 850px) {
  footer {
    padding: 0 2rem;
  }
}
@media (max-width: 4000px) and (max-width: 750px) {
  footer {
    padding: 0 1.5rem;
  }
}
@media (max-width: 4000px) and (max-width: 700px) {
  footer {
    padding: 0 2rem;
  }
}
@media (max-width: 4000px) and (max-width: 550px) {
  footer {
    padding: 0 0.5rem;
  }
}
@media (max-width: 4000px) {
  footer .footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;
  }
  footer .footer .footer-start {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    gap: 1rem;
  }
  footer .footer .footer-start h5 {
    font-size: 20px;
    font-weight: 600;
    color: #141414;
  }
  footer .footer .footer-start div {
    width: 30%;
    height: 1px;
    background-color: #AFAFAF;
  }
}
@media (max-width: 4000px) and (max-width: 700px) {
  footer .footer .footer-start div {
    flex-grow: 1;
  }
}
@media (max-width: 4000px) {
  footer .footer .footer-def {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
}
@media (max-width: 4000px) and (max-width: 700px) {
  footer .footer .footer-def {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    gap: 2rem;
  }
}
@media (max-width: 4000px) {
  footer .footer .footer-def .footer-def-right {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    gap: 1.5rem;
  }
}
@media (max-width: 4000px) and (max-width: 700px) {
  footer .footer .footer-def .footer-def-right {
    display: none;
  }
}
@media (max-width: 4000px) {
  footer .footer .footer-def .footer-def-right div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 0.6rem;
  }
  footer .footer .footer-def .footer-def-right div img {
    align-self: flex-start;
  }
  footer .footer .footer-def .footer-def-right div p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #242424;
  }
  footer .footer .footer-def .footer-def-right div:nth-of-type(3) p {
    width: 50%;
  }
  footer .footer .footer-def .footer-def-left {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
    gap: 1.2rem;
  }
}
@media (max-width: 4000px) and (max-width: 700px) {
  footer .footer .footer-def .footer-def-left {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
  }
}
@media (max-width: 4000px) {
  footer .footer .footer-def .footer-def-left h5 {
    width: 70%;
    font-size: 16px;
    font-weight: 700;
    color: #242424;
  }
}
@media (max-width: 4000px) and (max-width: 700px) {
  footer .footer .footer-def .footer-def-left h5 {
    width: 86%;
  }
}
@media (max-width: 4000px) {
  footer .footer .footer-def .footer-def-left p {
    font-size: 16px;
    font-weight: 400;
    color: #242424;
    line-height: 24px;
    width: 70%;
  }
}
@media (max-width: 4000px) and (max-width: 700px) {
  footer .footer .footer-def .footer-def-left p {
    width: 86%;
  }
}
@media (max-width: 4000px) {
  footer .footer .footer-def .footer-def-left div {
    width: 70%;
    position: relative;
  }
  footer .footer .footer-def .footer-def-left div input[type=text] {
    width: 100%;
    height: 3rem;
    border-radius: 10px;
    padding: 1rem;
  }
  footer .footer .footer-def .footer-def-left div .submit {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 65px;
    height: 36px;
    border-radius: 8px;
    position: absolute;
    background-color: rgb(94, 94, 205);
    left: 6px;
    top: 50%;
    transform: translate(0, -50%);
    background-color: #037FFF;
    color: #FFFFFF;
    font-size: 14px;
  }
  footer .footer .footer-def .footer-def-left div .submit:hover {
    cursor: pointer;
  }
}
@media (max-width: 4000px) and (max-width: 800px) {
  footer .footer .footer-def .footer-def-left div .submit {
    width: 60px;
    height: 36px;
  }
}
@media (max-width: 4000px) and (max-width: 700px) {
  footer .footer .footer-def .footer-def-left div .submit {
    width: 65px;
    height: 36px;
  }
}
@media (max-width: 4000px) and (max-width: 700px) {
  footer .footer .footer-def .footer-def-left div {
    width: 86%;
  }
}
@media (max-width: 4000px) {
  footer .footer .footer-def .footer-def-responsiv {
    display: none;
  }
}
@media (max-width: 4000px) and (max-width: 700px) {
  footer .footer .footer-def .footer-def-responsiv {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: row;
    gap: 1rem;
  }
  footer .footer .footer-def .footer-def-responsiv .footer-def-responsiv-right {
    width: 50%;
  }
  footer .footer .footer-def .footer-def-responsiv .footer-def-responsiv-right .footer-def-responsiv-right-span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 2.5rem 1rem;
    gap: 1.5rem;
    background-color: #FFFFFF;
    border: 1px solid #F5F6F8;
    border-radius: 16px;
  }
  footer .footer .footer-def .footer-def-responsiv .footer-def-responsiv-right .footer-def-responsiv-right-span div {
    width: 50px;
    height: 50px;
    background-color: #F5FBFF;
    border-radius: 50%;
    background-image: url("../images/location-blue.svg");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center center;
  }
  footer .footer .footer-def .footer-def-responsiv .footer-def-responsiv-right .footer-def-responsiv-right-span p {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }
  footer .footer .footer-def .footer-def-responsiv .footer-def-responsiv-left {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }
  footer .footer .footer-def .footer-def-responsiv .footer-def-responsiv-left .footer-def-responsiv-left-span {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    flex-grow: 1;
    padding: 1rem 1rem;
    background-color: #FFFFFF;
    border: 1px solid #F5F6F8;
    border-radius: 16px;
  }
  footer .footer .footer-def .footer-def-responsiv .footer-def-responsiv-left .footer-def-responsiv-left-span div {
    width: 50px;
    height: 50px;
    background-color: #F5FBFF;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center center;
  }
  footer .footer .footer-def .footer-def-responsiv .footer-def-responsiv-left .footer-def-responsiv-left-span .footer-def-responsiv-left-span-1 {
    background-image: url("../images/call-blue.svg");
  }
  footer .footer .footer-def .footer-def-responsiv .footer-def-responsiv-left .footer-def-responsiv-left-span .footer-def-responsiv-left-span-2 {
    background-image: url("../images/telephone.svg");
  }
  footer .footer .footer-def .footer-def-responsiv .footer-def-responsiv-left .footer-def-responsiv-left-span p {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }
}
@media (max-width: 4000px) {
  footer .footer .footer-end {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  footer .footer .footer-end p {
    font-size: 14px;
    font-weight: 400;
    color: #666666;
    text-align: center;
  }
}/*# sourceMappingURL=style-page1.css.map */