@import "_mixin.scss";
@import "_variable.scss";

@include respond-to(2000px){
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    };
    
    body{
        direction: rtl;
    }
    
    .span-div{
        width: 100%;
    }





     //header ................




    header{
        width: 100%;
        padding: 1.5rem 6.5rem;
    }
    
    
    .head{
        background-color: $bag-light-head-1;
        width: 100%;
        @include display(space-between,center,row);

        //left head .............

        .head-left{
            @include display(space-between,center,row);
            position: relative;
            gap: 1rem;
            .enter_program{
                padding: .8rem 2rem;
                color: $font-color-head-4;
                font-size: 16px;
                font-weight: 600;
                background-color: $bag-light-head-2;
                border-radius: 6px;
                @include display(center,center,row);
                &:hover{
                    cursor: pointer;
                }
            }

            .them{
                width: 2.6rem;
                height: 2.6rem;
                border: 1px solid $border-color-head1;
                border-radius: 3px;
                background-image: url('../images/light-dark.svg');
                background-repeat: no-repeat;
                background-size: 1.5rem 1.5rem;
                background-position: center center;
                transition: all .3s ease;
                &:hover{
                    cursor: pointer;
                    filter: brightness(.1);
                }
            }

            input[type=checkbox]{
                display: none;

                &:checked + .them-item{
                    display: flex;
                }
            }

            .them-item{
                @include display(space-between,flex-start,column){
                    display: none;
                };
                background-color: white;
                width: 100%;
                padding: 1rem 1.5rem;
                box-shadow: 0px 12px 24px -6px #1414190F;
                border: 1px solid $border-color-head2;
                border-radius: 8px;
                position: absolute;
                left: 50%;
                bottom: 0;
                transform: translate(-50%,106%);

                input[type=radio]{
                    display: none;
                }
                
                
                input[type=radio] + label{
                    width: 100%;
                    padding: .8rem 1.8rem;
                    position: relative;
                }


                label{
                    &:hover{
                        cursor: pointer;
                    };
                }


                input[type=radio]:checked + label::after{
                    content:"";
                    position: absolute;
                    left: 5px;
                    top: 50%;
                    transform: translate(0%,-50%);
                    width: 22px;
                    height: 22px;
                    background-image: url('../images/tick-outline.svg');
                    background-repeat: no-repeat;
                    background-size: 17px 17px;
                }



                input[type=radio] + .system-them::before{
                    background-image: url('../images/light-dark.svg');
                }

                input[type=radio] + .light-them::before{
                    background-image: url('../images/light-outline.svg');
                }

                input[type=radio] + .dark-them::before{
                    background-image: url('../images/dark-outline.svg');
                }


                input[type=radio] + label::before{
                    content:"";
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translate(0%,-50%);
                    width: 22px;
                    height: 22px;
                    background-repeat: no-repeat;
                    background-size: 22px 22px;
                }

                .hr-div{
                    width: 100%;
                    height: 1px;
                    background-color: $dive-hr-color-head; 
                }
            }
        }


        //right-head ............


        .head-right{
            @include display(space-between,center,row);
            gap : 4.5rem;
            
            a{
                color: $font-color-head-1;
                text-decoration: none;
                transition: all .3s ease;
                font-size: 16px;
                font-weight: 600;
                &:hover{
                    color: $hover-head-color1;
                }
                &:nth-of-type(1){
                    color: $font-color-head-3;
                }
            }

            h2{
                color: $font-color-head-2;
                font-size: 20px;
                font-weight: 600;

            }
        }
    }







    //main ...........

    main{
        padding: 0 10rem ;
        background: linear-gradient(180deg, #EBF3FF -7.33%, #FFFFFF 76.21%);
    }


    .main-1{
        @include display(space-between,center,column);
        padding: 6rem 8rem;
        gap: 1.5rem;
        h3:nth-of-type(1){
            font-size: 46px;
            font-weight: 400;
        }

        h3:nth-of-type(2){
            font-size: 64px;
            font-weight: 900;
        }
         
        .vectorr{
            position: relative;
            top: -1rem;
            padding-bottom: 1rem;
        }


        p{
            text-align: center;
            width: 80%;
            font-weight: 400;
            font-size: 20px;
        }

        .main-1-ea{
            @include display(space-between,center,row);
            gap: 1rem;
            padding-top: .5rem;

            .main-1-enter{
                // padding: .8rem 2rem;
                width: 10rem;
                height: 3rem;
                @include display(center,center,row);
                background-color: $bag-light-main-1;
                border-radius: 8px;
                color: $font-color-main-1;
                font-weight: 600;
                font-size: 16px;
            }

            .main-1-aboutus{
                // padding: .8rem 3.2rem;
                width: 10rem;
                height: 3rem;
                @include display(center,center,row);
                background-color: $bag-light-main-2;
                color: $font-color-main-2;
                border-radius: 8px;
                font-weight: 600;
                font-size: 16px;
            }
        }
    }

    
    
}